@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Source Sans 3", sans-serif;

}

body {
  background-color: #f9fafb;
}

.dark body {
  background-color: #0f172a;
}
header{

  width: 100%;
  height: 6.5vh;
  border-bottom: 1px solid #00000014;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main.dark header {
  background: #1e293b;
}
header .header-container{
  width: 93vw;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;

}
header .logo{
  width: 30px;
  height: 30px;
  
  border-radius:12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img{
  height:20px;
  width: 20px;
}

header .darkmode{
  margin-left: auto;
  width: 35px;
  height: 35px;

  border-radius:10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .addtask{
  width: 80px;
  height: 35px;
  background-color: #00C4B0;
  color:white;
  border-radius:10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left:2vw;
  font-weight: 700;
  gap:10px;
}
.body-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.tasks-overview{
  width: 93vw;
  max-width: 1000px;
  height: auto;
  
  margin-top: 3.5vh;
  display: flex;
  flex-direction: row;
  gap:3vw;
}
.tasks-overview .totaltask,
.tasks-overview .pending,
.tasks-overview .completed {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #00000014;
  border-radius: 10px;

}

.tasks-overview  .img-wrapper{
  width: 30px;
  height: 30px;
  border-radius: 10px;

  margin-left: 15px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-and-filter{
  width: 93vw;
  max-width: 1000px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 2.5vh;
  gap:2vh;
}

.search-and-filter div{

  
  height: 4vh;
  border:1px solid #00000014;
  border-radius: 10px;
}
.search-and-filter .search{
  display:flex;
  flex-direction: row;
  align-items: center;

}
.search-and-filter .search img{
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.search-and-filter .search input{
  flex:1;
  margin-left:10px;
  outline: none;
  
}
.search-and-filter .filter {
  display: flex;
  align-items: center;
  outline: none;
  padding-left:15px;
  padding-right:15px;

}
.filter select {
    width: 100%;
}
.task-and-page {
  width: 93vw;
  color:rgb(112, 112, 112);
  display: flex;
  justify-content: flex-start;
  text-align: left;
  gap:2vw;
  margin-top: 2.5vh;
  max-width: 1000px;
}

.task-container{
  width: 93vw;
  
  height: auto;
  display: flex;
  flex-direction: column;
  gap:1.5vh;
  max-width: 1000px;
}

.task{
  width: 93vw;
  max-width: 1000px;
  height: auto;
  border:1px solid #00000014;
  border-radius: 10px;
  display: flex;
  flex-direction: row;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.task .btn-container{
  width: 50px;
  height: 100%;

  display: flex;
  justify-content: center;
}
.task-details{
  flex:1;
  display: flex;
  flex-direction: column;

}
.task-details .task-header{
  
  display: flex;
  flex-direction: row;

}
.btn-container button{
  width: 20px;
  height: 20px;
  border:2px solid #00C4B0;
  border-radius: 50%;
  margin-top: 1.5vh;
}
.task-details .status-and-date{
  display: flex;
  flex-direction: row;

}
.status{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:5px;
  color: #FCC419;

  border-radius: 10px;
  padding-left: 5px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.status img{
  width: 15px;
  height: 15px;
}
.pagination{
  width: 70vw;
  height: 60px;
  display: flex;
  flex-direction: row;

  justify-content: center;
  margin-top: 50px;
  gap:7px;
}
.pagination button {
  width: 35px;
  height: 35px;

  border-radius: 8px;


  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  font-weight: 500;
  color: #6b7280;
  cursor: pointer;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}

.pagination button.active{
  background-color: #00C4B0;
  color:white;
  border:none;
}
.pagination img {
  width: 15px;
  height: 15px;
}

.addtask-container{
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 450px;
  border-radius: 10px;
  height: auto;

  z-index: 999;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  padding-left:30px;
  padding-right:30px;
}
.addtask-container span{
  font-family: "Source Sans 3", sans-serif;
}
.statusbtn{
  display: flex;
  flex-direction: row;
  gap:10px;
}
.addtask-container input{

  height: 40px;
  border: 1px solid #00000014;
  border-radius: 10px;
  padding-left: 15px;
  
}
.addtask-container textarea{
  padding-top:10px;
  height: 80px;
  border: 1px solid #00000014;
  border-radius: 10px;
  padding-left: 15px;
  resize: none;
}
.statusbtn button{
  
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:10px;
  color: #6b7280;
  border:1px solid rgb(65, 65, 65);
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  flex:1;
  height: 40px;

  align-items: center;
  justify-content: center;
}
.cancel-and-create{
  display: flex;
  flex-direction: row;
  gap:10px;
}
.cancel-and-create button{
  flex:1;
  height: 40px;
  border-radius: 10px;
  font-weight: 500;
  margin-top:25px;
  margin-bottom: 25px;
}
.pendingactive{
  color: #D97706 !important;
  border: 1px solid #FCC419 !important;
  background-color: #FFF7CD !important;
}
.completedactive{
  color: #00C4B0 !important;
  border: 1px solid #00C4B0 !important;
  background-color: #e6f4f3 !important;
}

.pendingactive {
  color: #D97706 !important;
  border: 1px solid #FCC419 !important;
  background-color: #FFF7CD !important;
}

.dark .pendingactive {
  color: #fcd34d !important;
  border: 1px solid orange !important;
  background-color: rgb(61, 57, 48)  !important;
}

.completedactive {
  color: #00C4B0 !important;
  border: 1px solid #00C4B0 !important;
  background-color: #e6f4f3 !important;
}

.dark .completedactive {
  color: #5eead4 !important;
  border: 1px solid #134e4a !important;
  background-color: #042f2e !important;
}
